{% extends "precipitation_flask/base.html" %} {% from '_render_field.html' import render_field %}

<!-- INSERT CSS -->

{% block css %}
<link
  href="{{ url_for('static', filename='vendor/persianDatepicker/v1.0.0/css/persianDatepicker-default.css') }}"
  rel="stylesheet"
  type="text/css"
/>

{% endblock css %}

<!-- START BLOCK SECTION -->
{% block content %}
<div class=" container">
<div class="card-body p-0">
  <!-- Nested Row within Card Body -->
  <div class="row">
    <div class="col-lg-12">
      <div class="p-2" style="direction: rtl">
        
        <legend class="mb-4">اضافه کردن داده‌های بارندگی جدید</legend>
        <form action="" method="post" autocomplete="off">
          <div class="row justify-content-center align-content-center">
            <div class="col-md-4">
              <input type="text" name="tag" id="tag2" placeholder="تعداد ایستگاه مورد نظر" class="text-center"/>
            </div>
            <div class="col-md-2">
              <input type="submit" id="form-numberStation" name="form-numberStation" value="اضافه کردن" class="form-control btn btn-outline-primary btn-lg" />
            </div>
          </div>
        </form>

        <form action="" method="post" novalidate>
          {{ form.hidden_tag() }}
          <fieldset class="form-group">
            <!--  -->
            <div class="row justify-content-center mb-5 text-center">
              <div class="col-md-2">
                {{ render_field(form.date, class="form-control text-center w-100", id="input1") }}

              </div>
              <div class="col-md-2">
                {{ render_field(form.time, class="form-control text-center w-100", id="time") }}
              </div>
            </div>

            <!--  -->
            {% for field in form.addPrecipData %}
            <!--  -->
            <div class="row text-center justify-content-center">
              <div class="col-md-4">
                {{ render_field(field.stationName, class="w-100 text-center") }}
              </div>
              <div class="col-md-2">
                {{ render_field(field.baran, class="w-100 text-center") }}
              </div>
              <div class="col-md-2">
                {{ render_field(field.barf, class="w-100 text-center") }}
              </div>
              <div class="col-md-2">
                {{ render_field(field.ab_barf, class="w-100 text-center") }}
              </div>
            </div>
            <div class="justify-content-center align-content-center">
              <hr class=" w-75 class-1 my-4" />
            </div>

            <!--  -->
            {% endfor %}

            <div class="form-group mt-3 text-center">
              <input type="submit" id="form-addPrecipData" name="form-addPrecipData" value="اضافه کردن داده‌های بارندگی" class="btn btn-outline-success" />

              <a href="{{ url_for('precipitation_dashboard_precipitation_data_management') }}" class="btn btn-outline-secondary">
                نه بیخیال
              </a>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock content %} 

<!--  -->
{% block script %} 

<script src={{ url_for('static', filename='vendor/persianDatepicker/v1.0.0/js/jquery-1.10.1.min.js') }} type="text/javascript"></script>
<script src={{ url_for('static', filename='vendor/persianDatepicker/v1.0.0/js/persianDatepicker.min.js') }} type="text/javascript"></script>

<script type="text/javascript">
    $(function() {
        $("#input1, #span1").persianDatepicker({
                  cellWidth: 30, // by px
        cellHeight: 25, // by px
        fontSize: 14,
        });       
    });
</script>



{% endblock script %}
