{% extends 'precipitation_flask/base.html' %} {% block content %}

<div class="container pt-5" style="direction: rtl">
  <form action="" method="post" autocomplete="off">
    <div class="row justify-content-center align-content-center">
      <div class="col-md-9">
        <input type="text" name="tag" id="tag" placeholder="جستجو برای ..." />
      </div>
      <div class="col-md-3">
        <input type="submit" value="جستجو" class="form-control btn btn-outline-primary btn-lg" name="" />
      </div>
    </div>
  </form>
  <table class="table table-hover text-center" id="myTable">
    <thead class="bg-light">
      <tr class="header">
        <th scope="col">کد ایستگاه</th>
        <th scope="col">نام ایستگاه</th>
        <th scope="col">محدوده مطالعاتی</th>
        <th scope="col">طول جغرافیایی</th>
        <th scope="col">عرض جغرافیایی</th>
        <th scope="col">ارتفاع</th>
        <th scope="col">مدیریت</th>
      </tr>
    </thead>
    <tbody>
      {% for station in stations.items %}
      <tr>
        <th scope="row">{{ station.stationCode }}</th>
        <td>{{ station.stationName }}</td>
        <td>{{ station.areaStudyName }}</td>
        <td>{{ station.longDecimalDegrees }}</td>
        <td>{{ station.latDecimalDegrees }}</td>
        <td>{{ station.elevation }}</td>
        <td>
          <a class="btn btn-danger btn-sm managementBTN" href="#" data-toggle="modal" data-target="#deleteStationModal"
            >حذف</a
          >
          <a
            href="{{ url_for('precipitation_dashboard_station_managment_update', stationCode=station.stationCode) }}"
            class="btn btn-info btn-sm managementBTN"
            >ویرایش</a
          >
        </td>
      </tr>
      <!-- Delete Station Modal-->
      <div
        class="modal fade"
        id="deleteStationModal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
        style="direction: rtl"
      >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">شما می‌خواهید این ایستگاه را حذف کنید؟</h5>
            </div>
            <div class="modal-body">
              اگر شما میخواهید ایستگاه <span class="text-danger">{{station.stationName}}</span> با کد
              <span class="text-danger">{{station.stationCode}}</span> را حذف کنید بر روی
              <span class="text-info">حذف کن</span> کلیک کنید.
            </div>
            <div class="modal-footer">
              <button class="btn btn-secondary" type="button" data-dismiss="modal">نه بیخیال</button>
              <a
                class="btn btn-danger"
                href="{{ url_for('precipitation_dashboard_station_managment_delete', stationCode=station.stationCode) }}"
                >حذف کن</a
              >
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </tbody>
  </table>

  <!-- Pagination Links -->
  <div class="text-right">
    <!-- Prev. Arrow -->
    <a
      href="{{ url_for('precipitation_dashboard_station_management', page=stations.prev_num) }}"
      class="btn btn-outline-dark {% if stations.page == 1 %} disabled {% endif %}"
    >
      &laquo;
    </a>
    <!-- Loop through the number of pages to display a link for each-->
    {% for page_num in stations.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %} {% if page_num
    %}
    <!-- Check for the active page and set the link to "Active"-->
    {% if stations.page == page_num %}
    <a href="{{ url_for('precipitation_dashboard_station_management', page=page_num) }}" class="btn btn-dark">
      {{ page_num }}
    </a>
    {% else %}
    <a href="{{ url_for('precipitation_dashboard_station_management', page=page_num) }}" class="btn btn-outline-dark">
      {{ page_num }}
    </a>
    {% endif %} {% else %} ... {% endif %} {% endfor %}

    <!-- NEXT ARROW -->
    <a
      href="{{ url_for('precipitation_dashboard_station_management', page=stations.next_num) }}"
      class="btn btn-outline-dark {% if stations.page == stations.pages %} disabled {% endif %}"
    >
      &raquo;
    </a>
  </div>
  <!-- <p class="text-right mt-3">Showing page {{ stations.page }} of {{ stations.pages }}</p> -->
</div>

{% endblock content %}
