{% extends 'base.html' %} {% block content %}

<!-- Page Content -->
<div class="container">
  <!-- Page Features -->
  <div class="row mt-3 text-center justify-content-center">
    <div class="col-lg-4 col-md-6 mb-4 animate__animated animate__zoomIn">
      <div class="card h-100 transitionCard">
        <img class="card-img-top" src="{{ url_for('static', filename='images/groundwater.jpg') }}" alt="" />
        <div class="card-body">
          <h3 class="card-title font-weight-bold text-primary">آب زیرزمینی</h3>
          <hr />
          <p class="card-text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است...</p>
        </div>
        <div class="card-footer">
          <a href="{{ url_for('hydrograph_route') }}" target="_blank" class="btn btn-primary btn-lg btn-block w-50 m-auto"
            >ورود</a
          >
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 mb-4 animate__animated animate__zoomIn">
      <div class="card h-100 transitionCard">
        <img class="card-img-top" src="{{ url_for('static', filename='images/surfacewater.jpg') }}" alt="" />
        <div class="card-body">
          <h3 class="card-title font-weight-bold text-success">آب سطحی</h3>
          <hr />
          <p class="card-text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است...</p>
        </div>
        <div class="card-footer">
          <a href="{{ url_for('chemograph_route') }}" target="_blank" class="btn btn-success btn-lg btn-block w-50 m-auto"
            >ورود</a
          >
        </div>
      </div>
    </div>
  <!-- /.row -->
</div>
<!-- /.container -->

{% endblock content %}
