{% extends 'base.html' %} {% block content %}

<!-- Page Content -->
<div class="container">
  <!-- Jumbotron Header -->
  <div class="row text-center justify-content-center">
    <div class="col-lg-8 col-md-12">
      <header class="jumbotron my-3 py-3 transitionCard">
        <h3 class="display-5 font-weight-bold text-center">داشبورد مدیریتی منابع آب</h3>
        <p class="lead text-justify mt-4">
          در اسفند ماه سال 1342 وزارت آب و برق تشکیل شد و به استناد مواد 3 و 4 قانون تاسیس این وزارتخانه سازمان‌های آب و برق
          منطقه‌ای تشکیل شد. وزارت مذکور در سال 1353 به وزارت نیرو تغییر نام داد.
        </p>
      </header>
    </div>
  </div>


  <!-- Page Features -->
  <div class="row text-center justify-content-center">
    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card h-100 transitionCard">
        <img class="card-img-top" src="{{ url_for('static', filename='images/groundwater.jpg') }}" alt="" />
        <div class="card-body">
          <h4 class="card-title font-weight-bold text-primary">آب زیرزمینی</h4>
          <hr />
          <p class="card-text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است..</p>
        </div>
        <div class="card-footer">
          <a href="{{ url_for('hydrograph_route') }}" target="_blank" class="btn btn-primary btn-lg btn-block w-50 m-auto"
            >ورود</a
          >
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card h-100 transitionCard">
        <img class="card-img-top" src="{{ url_for('static', filename='images/surfacewater.jpg') }}" alt="" />
        <div class="card-body">
          <h4 class="card-title font-weight-bold text-success">آب سطحی</h4>
          <hr />
          <p class="card-text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است..</p>
        </div>
        <div class="card-footer">
          <a href="{{ url_for('chemograph_route') }}" target="_blank" class="btn btn-success btn-lg btn-block w-50 m-auto"
            >ورود</a
          >
        </div>
      </div>
    </div>
  <!-- /.row -->
</div>
<!-- /.container -->

{% endblock content %}
