Flask
Flask-SQLAlchemy
WTForms
Flask-WTF
flask-bcrypt
flask-login
email_validator
numpy
pandas
xlrd
openpyxl
geopandas
plotly
dash
dash-bootstrap-components
dash_dangerously_set_inner_html
dash_daq
pyarrow
folium
altair
dash-leaflet
dash-extensions
jsbeautifier
utm
